<h3>Register</h3>

<form action="<%= users_path %>" method="post">
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
   <input type="text" name="user[username]" placeholder = "User name"/><br/>
   <input type="password" name="user[password]" placeholder = "Password"/><br/>
   <input type="password" name="user[password_confirm]" placeholder = "Confirm password"/><br/>
   <input type="submit"/>
</form>
